.teaser-right-image-container {
  margin: 0 auto !important;
  width: 1200px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container {
    width: auto;
  }
}
.teaser-right-image-container::after {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container::after {
    position: unset;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper {
  position: relative;
}
.teaser-right-image-container .teaser-right-image-wrapper::before {
  background: #fff;
  content: "";
  height: 24px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper::before {
    position: unset;
  }
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper {
    padding: 0 4%;
    margin-bottom: 20%;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image {
  color: white;
  background-color: #cc3e44;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  position: absolute;
  left: 32px;
  right: 30px;
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image::after {
  background: #fff;
  content: "";
  height: 100%;
  left: unset;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image::after {
    position: unset;
  }
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image {
    display: inherit;
    padding: 0px 5%;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__overlapimage {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__overlapimage {
    width: 100%;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image img {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image img {
    width: 100%;
    left: 0;
    top: -45px;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__content {
  width: 34%;
  padding: 11% 5%;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__content {
    width: 100%;
    margin-top: -16%;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__heading {
  line-height: 40px;
  margin: 0;
  font-family: sans-serif;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__heading {
    font-size: 31px;
    line-height: 40px;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__sub-heading {
  font-weight: bold;
  font-family: sans-serif;
  line-height: 45px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__sub-heading {
    font-size: 20px;
  }
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__button {
  display: inline-block;
  padding: 5px 20px;
  background: #eeedeb;
  border: 1px solid #eeedeb;
  border-radius: 5px;
  color: #cc3e44;
  font-weight: bold;
  margin-top: 30px;
  font-family: sans-serif;
}
.teaser-right-image-container .teaser-right-image-wrapper .teaser-right-image__learnmore-btn {
  text-decoration: none;
  color: #cc3e44;
}/*# sourceMappingURL=teaser-right-image.css.map */