.teaser-left-image-container {
  margin: 0 auto !important;
  width: 1200px;
  font-family: sans-serif;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container {
    width: auto;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper {
  margin-bottom: 5%;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper {
    padding: 0 4%;
    margin-bottom: 20%;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image {
  color: white;
  background-color: #196e80;
  display: flex;
  gap: 20px;
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image::before {
  background: #fff;
  content: "";
  height: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image::before {
    position: unset;
  }
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image {
    display: inherit;
    padding: 0px 5%;
    position: inherit;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__overlapimage {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__overlapimage {
    width: 100%;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image img {
  z-index: 10;
  position: relative;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image img {
    width: 100%;
    left: 0;
    top: -45px;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__content {
  width: 34%;
  padding: 5%;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__content {
    width: 100%;
    margin-top: -16%;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__heading {
  line-height: 50px;
  margin: 0;
  font-size: 40px;
  font-family: sans-serif;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__heading {
    font-size: 31px;
    line-height: 40px;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__sub-heading {
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__sub-heading {
    font-size: 20px;
  }
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__button {
  display: inline-block;
  padding: 5px 20px;
  background: #eeedeb;
  border: 1px solid #eeedeb;
  border-radius: 5px;
  color: #196e80;
  font-weight: bold;
  margin-top: 30px;
  font-family: sans-serif;
}
.teaser-left-image-container .teaser-left-image-wrapper .teaser-left-image__learnmore-btn {
  text-decoration: none;
  color: #196e80;
}/*# sourceMappingURL=teaser-left-image.css.map */