.banner-container{
    .banner-wrapper{
        .banner{
            // border:1px solid red;
            display: flex;
            div{
                // display: flex;
                width: 50%;
                .title{
                    color: red;
                    font-size: 40px;
                }
                .description{
                    color: green;
                    font-size: 20px;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}