@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: NotoSans, sans-serif;
  color: #071b45;
}

main > .section > div {
  max-width: unset;
  margin: unset;
  padding: unset;
}

.fresenius-carousel-container.fresenius-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1680px;
  margin: 0 auto !important;
  background: #eeedeb;
  width: 92%;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-carousel-wrapper {
  flex-basis: 45%;
  padding: 5% 7% 2% 3%;
  align-self: self-end;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-carousel-wrapper .fresenius-carousel__wrapper__container__heading {
  font-size: 36px;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-carousel-wrapper .fresenius-carousel__wrapper__container__description {
  font-size: 28px;
}
@media screen and (width <= 1024px) {
  .fresenius-carousel-container.fresenius-carousel .fresenius-carousel-wrapper {
    flex-basis: 100%;
    background: #eeedeb;
    padding: 5% 7% 7% 3%;
  }
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper {
  flex-basis: 55%;
  background: #071b45;
  position: relative;
  top: -30px;
  right: -20px;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-carousel-wrapper {
  background: transparent;
  padding: 10%;
  display: none;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-carousel-wrapper.active {
  display: block;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-carousel-wrapper .fresenius-carousel__wrapper {
  background: transparent;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-carousel-wrapper .fresenius-carousel__wrapper__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-carousel-wrapper .fresenius-carousel__wrapper__container__heading {
  color: #fff;
  font-size: 48px;
  margin: 0;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-carousel-wrapper .fresenius-carousel__wrapper__container__description {
  font-size: 18px;
  color: #fff;
  margin: 0;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .prev-button {
  background: #0033a0;
  border-radius: 4px;
  font-size: 18px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  z-index: 999;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .next-button {
  background: #0033a0;
  border-radius: 4px;
  content: ">";
  font-size: 18px;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-dots-container {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 20px 0 30px;
  width: 100%;
  order: 2; /* Ensures dots appear below slides */
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-dots-container .fresenius-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #838da2;
  cursor: pointer;
  padding: 0;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-dots-container .fresenius-dot.active {
  background: #fff;
}
.fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper .fresenius-dots-container .fresenius-dot:hover {
  background: #999;
}
@media screen and (width <= 1024px) {
  .fresenius-carousel-container.fresenius-carousel .fresenius-slider-wrapper {
    flex-basis: 90%;
    margin: 0 auto;
  }
}
@media screen and (width <= 1024px) {
  .fresenius-carousel-container.fresenius-carousel {
    flex-wrap: wrap;
  }
}

@media screen and (width <= 1024px) {
  .fresenius-carousel-container.fresenius-carousel {
    max-width: 90%;
    background-color: transparent;
  }
}/*# sourceMappingURL=fresenius-carousel.css.map */